[submodule "ros_wheel_base"]
	path = ros_wheel_base
	url = https://github.com/belovictor/ros_wheel_base.git
[submodule "ros_ddsm115_driver"]
	path = ros_ddsm115_driver
	url = https://github.com/belovictor/ros_ddsm115_driver.git
[submodule "aws-robomaker-small-house-world"]
	path = aws-robomaker-small-house-world
	url = https://github.com/aws-robotics/aws-robomaker-small-house-world.git
[submodule "witmotion_ros"]
	path = witmotion_ros
	url = https://github.com/ElettraSciComp/witmotion_IMU_ros.git
