<launch>
	<!-- Args -->
	<arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find officebot_description)/rviz/officebot_movement.rviz" />
	<arg name="model" default="$(find officebot_description)/urdf/officebot.xacro" />
	<!-- Params -->
	<param name="use_gui" value="$(arg gui)" />
	<!-- Robot Description from URDF -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false"/>
</launch>
